.big-data {
  width: 100%;
  display: flexbox;
  align-items: center;
  justify-content: center;
  
  .table-row-wrapper {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 420px;
  
    .column {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  }
  
  .table-row {
    height: 50px;
    width: 300px;
    padding: 10px 0 0 0;
    border-bottom: 1.5px solid $background-color;
    display: flex;
    justify-content: space-between;
    font-family: $paragraph-font;
  
    p {
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      color: $background-color;
  
      &:last-of-type {
        color: $paragraph-color;
        font-size: 16px;
        font-weight: normal;
      }
    }
  }

  @media (min-width: 1751px) and (max-width: 1850px) {
    .table-row-wrapper {
      margin-left: 400px;
    }

    .table-row {
      width: 250px;
    }
  }

  @media (min-width: 1501px) and (max-width: 1750px) {
    .table-row-wrapper {
      margin-left: 330px;
    }

    .table-row {
      width: 250px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1500px) {
    .table-row-wrapper {
      margin-left: 300px;
    }

    .table-row {
      width: 200px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1199px) {
    .table-row-wrapper {
      margin-left: 220px;
    }

    .table-row {
      width: 180px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1024px) {
    .table-row-wrapper {
      margin-left: 200px;
    }

    .table-row {
      width: 150px;
    }
  }

  @media (min-width: 769px) and (max-width: 991px) {
    .table-row-wrapper {
      margin-left: 170px;
    }

    .table-row {
      width: 120px;
    }
  }

  @media (min-width: 542px) and (max-width: 768px) {
    .table-row-wrapper {
      margin-left: 120px;
    }

    .table-row {
      width: 80px;
    }
  }

  @media (min-width: 476px) and (max-width: 542px) {
    .table-row-wrapper {
      margin-left: 120px;
    }

    .table-row {
      width: 60px;
    }
  }
  @media (max-width: 475px) {
    .table-row-wrapper {
      margin-left: 80px;
    }

    .table-row {
      width: 40px;
    }
  }
}